.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.btn-group {
  display: flex;
  gap: 60px;
}

.main-btn {
  width: 250px;
  height: 125px;
  border-radius: 15px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ebf1ff;
  color: #474747;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.point-img {
  position: relative;
  z-index: 1;
  top: 45px;
}

.week-board {
  width: 1000px;
  height: 380px;
  background-color: #ebf1ff;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto;
  bottom: -20px;
}

.week-board p {
  font-size: 23px;
  font-weight: 400;
  margin-top: 35px;
  color: #474747;
}

.week-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-evenly;
}

.custom-card {
  width: 155px;
  height: 230px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 72.5px;
}

p.week-text {
  color: #474747;
  font-weight: 400;
  font-size: 20px;
  margin-top: -5px;
}

p.week-num {
  color: #0048ff;
  font-weight: 500;
  font-size: 17px;
  margin-top: -15px;
}

p.week-num.red {
  color: #ff3d00;
  font-weight: 500;
}

p.week-curriculum {
  color: #474747;
  font-size: 14px;
  margin-top: -5px;
}
