.header-top {
  height: 200px !important;
}
/* 스타일 시트 또는 <style> 태그 내에 추가 */
.rounded-image {
  width: 17px; /* 원하는 이미지의 크기로 설정 (예시에서는 글자 크기에 맞추었습니다) */
  height: 17px; /* 동일한 값으로 높이 설정하여 원형 유지 */
  border-radius: 50%; /* 원형 모양을 만들기 위한 속성 */
  object-fit: cover; /* 이미지를 div에 맞게 조정 */
  margin-right: 5px; /* 이름과 이미지 사이의 간격을 설정 */
  border: 1px solid #ddd; /* 이미지의 테두리를 설정 (선택적) */
}
