.searchbtn {
  width: 100px;
  height: 45px;
  border-radius: 15px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #474747;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.passwordbtn {
  width: 120px;
  height: px;
  border-radius: 15px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #474747;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.myInfoBox {
  width: 500px;
  height: 350px;
  background-color: #ebf1ff;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  bottom: -20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-right: 20px;
}

.myInfoBox p {
  margin-bottom: 15px; /* 하단 간격 조정 */
  font-size: 1.3em; /* 글자 크기 증가 */
}
.passwordContent {
  font-size: 1.05em;
  margin-left: 30px;
}

.passwordbtnName {
  font-size: 1rem;
}

.search-bar {
  margin-top: 40px;
  margin-bottom: 30px;
}

.myPageContainer {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.profileImage {
  width: 210px; /* 원하는 가로 너비 */
  height: auto; /* 세로 너비는 가로 너비에 맞게 자동 조절 */
  border-radius: 50%;
}

.text-center {
  text-align: center;
  margin-top: 60px;
}

.searchLayout {
  text-align: center;
  margin-top: 40px;
}

.board-list {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  border: thin solid lightgray;
  align-items: center;
  gap: 20px;
  display: block; /* flex 대신 block 속성을 적용 */
}
.extended-list-item {
  margin-bottom: 10px;
  padding: 20px;
  min-height: 70px;
  width: 100%; /* 너비를 조정하고 싶은 경우, 예를 들어 95% 또는 900px 등으로 설정 가능 */
  border-radius: 20px !important; /* 모서리를 둥글게 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.list-group-item {
  margin-bottom: 10px; /* 각 리스트 항목 하단에 10px의 마진을 추가 */
  padding: 30px; /* 항목 내부에 20px의 패딩을 추가하여 더 크게 만듦 */
  /* 각 항목의 높이를 고정하거나 최소 높이를 설정하려면 height 또는 min-height 속성을 사용 */
  min-height: 100px; /* 최소 높이를 70px로 설정 */
  min-width: 200px;
}
