.search-bar {
  display: flex;
  justify-content: center;
}

.search-form {
  margin: 5px;
  width: 40%;
}

.search-btn {
  margin: 5px 0px;
}

.write-board-btn {
  justify-content: flex-end;
  margin: 20px;
}

.board {
  background: #f2f0f0;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}

.board-title-tag {
  display: flex;
  margin-bottom: 5px;
}

.board-tag {
  margin-left: 10px;
  background: white;
  border-radius: 5px;
  padding: 0px 5px;
}

.writer-date {
  text-align: left;
}

.board-pagination {
  display: flex;
  justify-content: center;
}

.me-2.custom-btn {
  background: #696969;
  border: none;
}
