.search-bar {
  display: flex;
  justify-content: center;
}

.search-form {
  margin: 5px;
  width: 40%;
}

.search-btn {
  margin: 5px 0px;
}

.board-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 60px;
  margin: auto;
  background: #ebf1ff;
  border-radius: 15px;
  box-shadow: 5px 5px 7px lightgray;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  z-index: 0;
  padding-top: 5px;
}

.align-top-img {
  position: relative;
  z-index: 1;
  top: 13px;
}

.write-board {
  display: flex;
  justify-content: flex-end;
  margin-right: 11px;
}

.write-board-btn {
  margin: 10px !important;
}

.board {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  border: thin solid lightgray;
  align-items: center;
}

.board-title-writer {
  display: flex;
  justify-content: space-between;
}
.board-title {
  font-size: 23px;
  justify-content: flex-start;
  font-weight: 500;
  margin-right: 10px;
  text-align: left;
}

.board-tags {
  display: flex;
  align-items: center;
}
.board-tag {
  margin-right: 10px;
  background: #0048ff;
  color: white;
  border-radius: 5px;
  padding: 0px 6px;
  font-size: 13px;
  line-height: 29px;
  height: 28px;
  margin-bottom: 5px;
}

.board-comment-writer-date {
  display: flex;
  justify-content: space-between;
}

.board-comment {
  font-size: 16px;
  color: #474747;
}

.writer-date {
  color: #474747;
  font-size: 16px;
  text-align: right;
}

.board-pagination {
  display: flex;
  justify-content: center;
}

.pages {
  color: #0048ff !important;
  border-color: #0048ff !important;
}

.board-detail-title {
  text-align: left;
  margin: 3px 10px;
  font-size: 35px;
  font-weight: 600;
}

.board-detail-tag-container {
  margin-left: 5px;
  display: flex;
}

.board-detail-tag {
  background: #0048ff;
  color: white;
  margin: 0px 5px;
  border-radius: 5px;
  padding: 4px 7px;

  font-size: 14px;
}

.board-writer-date-btns {
  display: flex;
  justify-content: space-between;
}

.board-writer-date {
  margin: 0px 10px;
  text-align: left;
  color: #474747;
}

.board-detail-btns {
  text-align: right;
}

.board-btn-edit {
  border: none;
  outline: none;
  background-color: inherit;
  color: #474747;
}

.board-btn-del {
  border: none;
  outline: none;
  background-color: inherit;
  color: #474747;
}

.board-btn-edit:hover {
  color: black;
}

.board-btn-del:hover {
  color: black;
}
.board-content {
  background: #f2f0f0;
  text-align: left;
  padding: 30px 30px;
  margin: 30px 10px;
  border-radius: 10px;
}

.board-comment-num {
  text-align: left;
  margin: 20px;
}

.comment-anonymous-check {
  margin-left: 20px;
}

.board-comment-write {
  display: flex;
  margin-bottom: 20px;
}

.comment-write-form {
  margin: 0px 20px;
  height: 80px;
}

.comment-write-btn {
  width: 80px;
}

.board-comment-view {
  margin: 10px 10px;
}

.board-comment-each {
  padding-left: 15px;
  border-radius: 10px;
}

.board-comment-writer {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.comment-btns {
  text-align: right;
}

.comment-btn-reply {
  border: none;
  outline: none;
  background-color: inherit;
  justify-content: flex-end;
  color: #474747;
}

.comment-btn-del {
  border: none;
  outline: none;
  background-color: inherit;
  justify-content: flex-end;
  color: #474747;
}

.comment-btn-reply:hover {
  color: black;
}

.comment-btn-del:hover {
  color: black;
}

.board-comment-date {
  font-size: 15px;
  text-align: left;
  color: #474747;
}

.board-comment-content {
  padding-top: 10px;
  text-align: left;
}

.board-comment-reply-write {
  margin: 0px;
}

.comment-reply-anonymous-check {
  margin-left: 0px;
  margin-top: 10px;
}

.comment-reply-write-form {
  margin-left: 0px;
}

.text-decoration-none {
  text-decoration: none;
  color: black;
}
.me-2.custom-btn {
  background: #696969;
  border: none;
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: lightgray;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: lightgray;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #0046ff !important;
}

.rounded-pill {
  border-radius: 5px !important;
}

.badge {
  --bs-badge-padding-x: 7px !important;
  --bs-badge-padding-y: 9px !important;
  --bs-badge-font-size: 0.75em !important;
  font-weight: 500 !important;
  font-size: 13px;
  height: 28px;
  margin-right: 2px;
  line-height: 12px;
}

.min-vh-100 {
  min-height: 0vh !important;
}
