.logo {
  width: 40%;
  height: 90;
}
.content {
  font-size: 20px;
  font-weight: 500;
}

.signupbtn {
  width: 400px;
  height: 45px;
  border-radius: 15px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #474747;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
